<div class="main">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Completed</th>
                <th scope="col">Priority</th>
                <th scope="col">Completion Date</th>
                <th scope="col">Creation Date</th>
                <th scope="col">Description</th>
                <th scope="col">Actions
                    <a class="m-1" [routerLink]="" (click)="this.addNew()"><i class="bi bi-calendar-plus"></i></a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of this.todo$ | async; index as i">
                <td><input type="checkbox" [checked]="todo.isComplete" disabled /></td>
                <td>{{ todo.priority }}</td>
                <td>{{ todo.completionDate | date }}</td>
                <td>{{ todo.creationDate | date }}</td>
                <td>{{ todo.description }}</td>
                <td>
                    <a class="m-1" [routerLink]="" (click)="this.edit(todo)"><i class="bi bi-pencil"></i></a>
                    <a class="m-1" [routerLink]="" (click)="this.delete(todo)"><i class="bi bi-calendar-x-fill"></i></a>
                    <a class="m-1" *ngIf="!todo.isComplete" [routerLink]="" (click)="this.markComplete(todo)"><i class="bi bi-calendar-check"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
