<div class="form">
    <div class="input-group">
        <label>Description:</label>
        <input [(ngModel)]="todo.description" type="text" class="form-control">
    </div>
    <div class="input-group">
        <select [(ngModel)]="todo.priority">
            <option value="" disabled selected>Select Priority</option>
            <option *ngFor="let priority of this.priorityList">{{priority}}</option>
        </select>
    </div>
    <span class="input-group-btn">
        <button class="btn btn-default" (click)="add()" type="button">
            <i class="bi bi-check-circle-fill"></i></button>
    </span>
    <span class="input-group-btn">
        <button class="btn" (click)="cancel()" type="button">
            <i class="bi bi-x-circle-fill"></i></button>
    </span>
</div>
