<ul class="nav justify-content-center nav-pills">
    <li class="nav-item">
        <a class="nav-link" routerLink="box-breathing" routerLinkActive="active">Focus.</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="extended-exhale" routerLinkActive="active">Relieve Stress.</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="equal-breathing" routerLinkActive="active">Become Present.</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="energizing-breath" routerLinkActive="active">Energize.</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="relaxing-breath" routerLinkActive="active">Unwind.</a>
    </li>
</ul>
<router-outlet></router-outlet>