<ul class="nav nav-pills">
    <li class="nav-item">
        <span>Allow your mind to quiet.</span>
    </li>
    <li class="nav-item">
        <a class="nav-link active" routerLink="/box-breathing" routerLinkActive="active" type="button" >Box Breathing.</a>
    </li>
</ul>


<!-- debug things below -->
<!--
<button autofocus type="button" class="btn btn-primary" (click)="startFocus()">Focus.</button>
<button autofocus type="button" class="btn btn-primary" (click)="startRelieveStress()">Relieve Stress.</button>
<button autofocus type="button" class="btn btn-primary" (click)="startBecomePresent()">Become Present.</button>
<button autofocus type="button" class="btn btn-primary" (click)="startEnergize()">Energize.</button>
<button autofocus type="button" class="btn btn-primary" (click)="startUnwind()">Unwind.</button>



<hr />
<span>{{breathState.fullness}}</span>

<ngb-progressbar class="my-2 mx-5" [showValue]="true" type="info" [value]="focus.breathState.fullness">
</ngb-progressbar>
<ngb-progressbar class="my-2 mx-5" [showValue]="true" type="info" [value]="relieveStress.breathState.fullness">
</ngb-progressbar>
<ngb-progressbar class="my-2 mx-5" [showValue]="true" type="info" [value]="becomePresent.breathState.fullness">
</ngb-progressbar>
<ngb-progressbar class="my-2 mx-5" [showValue]="true" type="info" [value]="energize.breathState.fullness">
</ngb-progressbar>
<ngb-progressbar class="my-2 mx-5" [showValue]="true" type="info" [value]="unwind.breathState.fullness">
</ngb-progressbar>
-->